:root {
  --app-color-surface-0: #000000;
  --app-color-surface-1: #172117;
  --app-color-surface-2: #213321;
  --app-color-surface-3: #334533;
  --app-color-on-surface: #eaf0ea;
  --app-color-primary: #a9eaa2;
  --app-color-on-primary: #172017;
  --app-color-outline: #aab0aa;
}
